{% extends "layout.html" %}

{% block content %}

    <div class="frame developer-section mt-4">
        <h2>About the Developer</h2>
        <p>
            Task Management App is proudly developed by <strong>AkohTech Labs</strong>, a passionate software development 
            team dedicated to creating simple and effective solutions for everyday challenges. At AkohTech Labs, 
            we believe in building tools that empower users to achieve their goals with ease and efficiency.
        </p>
        <p>
            If you have any suggestions, feedback, or just want to say hello, feel free to reach out to us. 
            We’re always looking for ways to improve and would love to hear from you!
        </p>
    </div>

{% endblock %}